<div class="container shadow mt-3 p-3 w-50">
<h2 class="card-title mt-4 font-weight-bold">Editar usuario</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
     <%= f.input :photo, as: :file, label: "Subir una foto" %>
      <%= f.input :email, required: true, autofocus: true, label: "Correo" %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Actualmente esperando confirmación <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: "Nueva contraseña",
                  required: false,
                  input_html: { autocomplete: "Nueva contraseña" } %>
      <%= f.input :password_confirmation, label: "Confirmar contraseña",
                  required: false,
                  input_html: { autocomplete: "Nueva contraseña" } %>
      <%= f.input :current_password, label: "Contraseña actual",
                  hint: "Campo obligatorio",
                  required: true,
                  input_html: { autocomplete: "Contraseña actual" } %>
    </div>
  <div class="d-flex justify-content-evenly flex-wrap">
      <%= link_to "Volver", :back, class:"btn btn-primary"%>
      <div class="form-actions">
        <%= f.button :submit, "Actualizar", class:"btn btn-primary" %>
      </div>
    <% end %>
    <div><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro/a?", turbo_confirm: "Estas seguro/a?" }, method: :delete, class:"btn btn-primary" %></div>
  </div>
</div>
