<div class="container">
<%= simple_form_for(@caravan) do |f| %>
<%= f.input :brand %>
<%= f.input :year %>
<%= f.input :model %>
<%= f.input :capacity %>
<%= f.input :gas_type %>
<%= f.input :description %>
<%= f.input :address %>
<%= f.submit %>
<% end %>
</div>
