<div class="banner">
    <div class="row">
      <div class="col-md-12 position-relative">
        <%= image_tag("banner.jpg", alt: "Banner de una caravana", class: "img-fluid") %>
        <h1 class="position-absolute top-50 end-0 translate-middle-y text-white me-5">Nomad Ride</h1>
      </div>
    </div>
</div>
<div class="container shadow mt-3 p-3 w-75">
  <div>
    <h5>Caravanas destacadas</h5>
  </div>

    <% if user_signed_in? %>
      <% @view_caravans = @caravans.reject{ |caravan| caravan.user_id == current_user.id } %>
      <div class="row">
        <% @view_caravans.each do |caravan| %>


          <div class="col-12 col-md-6 col-lg-4 mt-4">
            <div class="card">
              <div class="text-center mt-2">
                <%= cl_image_tag caravan.photo.key, height: 200, width: 200, crop: :fill, class:"rounded" %>
              </div>

              <div class="card-body text-center">
                <h5 class="card-title text-center text-center"><%= link_to caravan.brand.upcase, caravan_path(caravan) %></h5>
                <h6 class="card-text mt-3 mb-4"><%= caravan.model %></h6>
                <div class="d-flex justify-content-evenly mb-3">
                  <p class="card-text"><%= "#{caravan.capacity} pers." %></p>
                  <p class="card-text"><%= "Año: #{caravan.year}" %></p>
                  <p class="card-text"><%= "#{caravan.gas_type}" %></p>
                </div>
                <%= link_to "Más detalles", caravan_path(caravan), class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
        <div class="row">
          <% @caravans.each do |caravan| %>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
            <div class="card">
              <div class="text-center mt-2">
                <%= cl_image_tag caravan.photo.key, height: 200, width: 200, crop: :fill %>
              </div>

              <div class="card-body text-center">
                <h5 class="card-title text-center text-center"><%= link_to caravan.brand, caravan_path(caravan) %></h5>
                <p class="card-text"><%= caravan.description %></p>
                <%= link_to "Más detalles", caravan_path(caravan), class:"btn btn-primary" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    <% end %>

</div>
