<div class="container shadow mt-3 p-3 w-75">
  <div>
    <h2 class="card-title mt-4 font-weight-bold">Tus caravanas publicadas</h2>
  </div>
      <div class="row">
        <% @caravans.each do |caravan| %>
          <div class="col-12 col-md-6 col-lg-4 mt-4">
          <div class="card">
            <div class="text-center mt-2">

            <%= link_to caravan_path(caravan) do %>
              <%= cl_image_tag caravan.photo.key, { height: 200, width: 200, crop: :fill, class: "rounded" } %>
              <% end %>

            </div>

            <div class="card-body text-center">
              <h5 class="card-title text-center"><%= link_to caravan.brand.upcase, caravan_path(caravan), class:"brand" %></h5>
              <h6 class="card-text mt-3 mb-4"><%= caravan.model %></h6>
              <div class="d-flex justify-content-evenly mb-3">
                <p class="card-text"><%= "#{caravan.capacity} pers." %></p>
                <p class="card-text"><%= "Año: #{caravan.year}" %></p>
                <p class="card-text"><%= "#{caravan.gas_type}" %></p>
              </div>
              <div class="d-flex justify-content-evenly mb-3">
                <p class="card-text"><%= "$ #{caravan.day_price} / día " %></p>
              </div>
              <%= link_to "Detalles", caravan_path(caravan), class:"btn btn-primary" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
</div>
