<div class="container shadow mt-3 p-3 w-50">
<%= simple_form_for(@caravan) do |f| %>
<%= f.input :brand %>
<%= f.input :year %>
<%= f.input :model %>
<%= f.input :capacity %>
<%= f.input :gas_type %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.input :day_price %>
<%= f.input :photo, as: :file %>
  <div class="text-center">
    <%= f.submit "Crear caravana", class:"btn btn-primary"%>
  </div>
<% end %>
</div>
