<div class="container shadow mt-3 p-3 w-50">
  <%= simple_form_for [@caravan, @reservation] do |f| %>
  <%= f.input :start_date, label: "Fecha de inicio" %>
  <%= f.input :finish_date, label: "Fecha de finalización" %>
  <div class="d-flex justify-content-center">
    <%= f.submit "Actualizar", class:"btn btn-primary"%>
    <%= link_to("Cancelar", reservations_path, class:"btn btn-primary ms-2") %>
  </div>
<% end %>
</div>
