<div class="container shadow mt-3 p-3 w-50">

<h3 class="text-center"><%= "#{ @user.first_name }, estas son todas sus reservas:"%></h3>
  <div class="content-center">
    <% @reservation.each do |reservation| %>
      <div class="container">
        <%= link_to "Reserva Nº:#{reservation.id}", reservation_path(reservation) %> <br>
        <%= "Fecha de inicio: #{reservation.start_date}" %> <br>
        <%= "Fecha de finalización: #{reservation.finish_date}"  %> <br>
        <%= "Marca: #{reservation.caravan.brand}" %> <br>
        <%= "Modelo: #{reservation.caravan.model}"  %><br>
        <%= "Capacidad: #{reservation.caravan.capacity}"  %>
      </div>
    <% end %>
    <div class="d-flex justify-content-center">
        <%= link_to("Página de inicio", caravans_path, class:"btn btn-secondary ms-2") %>
    </div>
  </div>
</div>
