<div class="container shadow mt-3 p-3 w-80">
  <h3 class="text-center">Tus reservas</h3>
  <div class="row">
          <% @reservation.each do |reservation| %>


            <div class="col-12 col-md-6 col-lg-4 mt-4">
              <div class="card">
                <div class="text-center mt-2">
                  <%= cl_image_tag reservation.caravan.photo.key, height: 200, width: 200, crop: :fill %>
                </div>

                <div class="card-body text-center">
                  <h6 class="border shadow border-secondary p-3 w-90 rounded container mt-3 mb-3 <%= reservation.status ? 'text-success' : 'text-danger' %>"><%= reservation.status ? "Aprobada" : "Pendiente" %></h6> <br>
                  <p><%= "Fecha de inicio: #{ reservation.start_date.strftime('%d-%m-%Y') }" %></p>
                  <p><%= "Fecha de finalización: #{ reservation.finish_date.strftime('%d-%m-%Y') }" %></p>
                  <p><%= "Marca: #{reservation.caravan.brand}" %></p> <br>
                  <p><%= "Modelo: #{reservation.caravan.model}"  %></p> <br>
                  <p><%= "Capacidad: #{reservation.caravan.capacity} pers."  %></p> <br>
                  <h6 class="font-weight-bold mt-3 text-center"><%= "Precio total: $#{reservation.total_price.to_i}" %></h6>
                  <div class="d-flex justify-content-center">
                    <%= link_to("Detalles", reservation_path(reservation), class:"btn btn-primary ms-2") %>
                  </div>


                </div>
              </div>
            </div>
          <% end %>
    </div>
</div>
