<div class="container shadow mt-3 p-3 w-50 ">





              <div class="card">
                <div class="text-center mt-3">
                  <h4 class="text-center mb-3">Detalles de la reserva</h4>
                  <%= cl_image_tag @reservation.caravan.photo.key, height: 200, width: 200, crop: :fill %>
                </div>

                <div class="card-body text-center">
                <h6 class="border shadow border-secondary p-3 w-50 rounded container mt-3 mb-3 <%= @reservation.status ? 'text-success' : 'text-danger' %>"><%= @reservation.status ? "Aprobada" : "Pendiente" %></h6> <br>
                <p><%= "Fecha de inicio: #{ @reservation.start_date }" %></p>
                <p><%= "Fecha de finalización: #{ @reservation.finish_date }" %></p>
                <p><%= "Marca: #{ @reservation.caravan.brand} " %></p>
                <p><%= "Modelo: #{ @reservation.caravan.model }" %></p>
                <p><%= "Año: #{ @reservation.caravan.year }" %></p>
                <p><%= "Gasolina: #{ @reservation.caravan.gas_type }" %></p>
                <p><%= "Capacidad: #{ @reservation.caravan.capacity }" %></p>
                <p><%= "Descripción: #{ @reservation.caravan.description }"  %></p>
                <p><%= "Alquilada a: #{ @reservation.caravan.user.first_name }"  %></p>

                <div class="container d-flex justify-content-center">
                <%= link_to("Volver", reservations_path, class:"btn btn-primary ms-2") %>

                <%= link_to("Editar", edit_reservation_path, class:"btn btn-primary ms-2") %>

                <%= link_to "Delete",
                reservation_path(@reservation), class:"btn btn-primary ms-2",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                </div>


                </div>
              </div>

</div>
