<div class="container">
  <h2><%= @reservation.start_date %></h2>
  <p><%= @reservation.finish_date %></p>
  <p><%= @reservation.caravan.brand %></p>
  <p><%= @reservation.caravan.model %></p>
  <p><%= @reservation.caravan.year %></p>
  <p><%= @reservation.caravan.gas_type %></p>
  <p><%= @reservation.caravan.capacity %></p>
  <p><%= @reservation.caravan.description %></p>
  <p><%= @reservation.caravan.user.first_name %></p>
</div>
